<!DOCTYPE html>

<html lang="en">

<head>   
<title>Lahiri Kundu</title>
<link href="../lkmedia/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" /><!-- fontawesome css -->     
<link href="../lkmedia/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /><!-- Bootstrap stylesheet -->
<link href="../lkmedia/css/style.css" rel="stylesheet" type="text/css" media="all" /><!-- stylesheet -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="printing ink" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link rel="stylesheet" href="../lkmedia/css/jquery.maximage.css?v=1.2" type="text/css" media="screen" />
<!-- //css for banner slider -->			
<!-- online-fonts-->
<!-- <link href="//fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
<!--//online-fonts-->		
</head>

	<body>

	<div class="w3layouts-top-strip">
		<div class="container-fluid">	
			<div class="agileinfo-contact-info">
				<ul>
					<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Call : +91-9810186313</li>
					<li style="float:right;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Mail : <a href="mailto:lkcinks@gmail.com">lkcinks@gmail.com</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>	
		
		<!-- navigation -->
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li><a class="active" href="/">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'products' %}">Products & Services</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
                        <!--    <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="typography.html">Short Codes</a></li>
                    <li><a href="icons.html">Icons Page</a></li>
                  </ul>
                </li> -->
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div>
			</nav>
		<!-- //navigation -->
		

	<div class="w3layouts-slider">
		<a href="" id="logo"><h1><img src="../lkmedia/images/logo.xcf"></img>LAHIRI KUNDU & CO.</h1></a>
		<a href="#" id="arrow_left"><img src="../lkmedia/images/arrow_left.png" alt="Slide Left" /></a>
		<a href="#" id="arrow_right"><img src="../lkmedia/images/arrow_right.png" alt="Slide Right" /></a>
		
		<img id="cycle-loader" src="../lkmedia/images/ajax-loader.gif" alt="" />
		<div id="maximage">
			<div>
				<img src="../lkmedia/images/slider-1.jpg" alt="slider image" />
				<img id="gradient" src="../lkmedia/images/gradient.png" alt="" />
				<div class="in-slide-content" style="display:none;">
					<h2>Industrial Product For Printing Purpose.</h2> 
				</div>
			</div>
			<img src="../lkmedia/images/slider-2.jpg" alt="slider image" />
			<img src="../lkmedia/images/slider-3.jpg" alt="slider image" />
			<img src="../lkmedia/images/slider-4.jpg" alt="slider image" />
			<img src="../lkmedia/images/slider-5.jpg" alt="slider image" />
		</div>			
	</div>
	<!-- //main-banner-slider -->
		
	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<div class="title">
				<h3>Why Choose Us </h3>
				<p>More than 42 years of quality assured in our products.</p>
			</div>
			<div class="about-row">
				<div class="col-md-4 about-grids">
					<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
					<h4>The Best Quality</h4>
					<p>We are engaged in offering Printing Inks to our customers, formulated using proven methodology</p>
					
				</div>
				<div class="col-md-4 about-grids">
					<span class="glyphicon glyphicon-tent effect-1" aria-hidden="true"></span>
					<h4>The Colour Frontier</h4>
					<p>We manufacture Printing Inks which is available in all colours, metallic colours and pearl. </p>
					
				</div>
				<div class="col-md-4 about-grids">
					<span class="glyphicon glyphicon-earphone effect-1" aria-hidden="true"></span>
					<h4>Customer Satisfaction</h4>
					<p>We offer High performance printing inks  to our esteemed customers at reasonable rates.</p>
					
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	
	<!-- info section -->
	<div class="where">
		<div class="container">
			<div class="col-md-4 where-left"></div>
			<div class="col-md-8 where-right">
				<div class="wel-left">
					<div class="welcome-info wel-grid">
						<figure class="icon">
							<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
						</figure>
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-globe"></span>World Tour</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-map-marker"></span>Exotic Locations</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-move"></span>Easy Travelling</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-glass"></span>Beach Resorts</a></li>
						</ul>
					</div>
				</div>
				<div class="wel-right">
					<div class="content-item">
						<div class="overlay"></div>
						  <div class="corner-overlay-content">Info</div>
						  <div class="overlay-content">
							<h4>Riding</h4>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been it to make a type specimen book. It has survived not only five centuries.</p>
						  </div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	
	<!-- popular-places -->
	<div class="agileits-popular-places">
			<div class="container">
				<div class="w3layouts-title">
					<h3>Popular Trips</h3>
					<p>Duis euismod massa ut sem fringilla blandit. Proin vel enim nec ipsum finibus. </p>
				</div>
				<div class="grid">
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-2.jpg" alt="image"/>
						<figcaption>
							<h3>MALDIVES <span> Trip</span></h3>
							<p>No place is ever as bad as they tell you it’s going to be.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-4.jpg" alt="image"/>
						<figcaption>
							<h3>Paris <span> Trip</span></h3>
							<p>No place is ever as bad as they tell you it’s going to be.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-5.jpg" alt="image"/>
						<figcaption>
							<h3>Ireland <span> Trip</span></h3>
							<p>No place is ever as bad as they tell you it’s going to be.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-4.jpg" alt="image"/>
						<figcaption>
							<h3>venice <span> Trip</span></h3>
							<p>No place is ever as bad as they tell you it’s going to be.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-3.jpg" alt="image"/>
						<figcaption>
							<h3>Friendly <span> Trip</span></h3>
							<p>A Journey is best Measured in friends rather than miles.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<figure class="effect-marley">
						<img src="../lkmedia/images/slider-1.jpg" alt="image"/>
						<figcaption>
							<h3>Rome <span> Trip</span></h3>
							<p>No place is ever as bad as they tell you it’s going to be.</p>
							<a href="#">View more</a>
						</figcaption>			
					</figure>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<footer>
			<div class="w3ls-footer-grids">
				<div class="container">
					<div class="col-md-3 w3l-footer one">
						<h3>About Company</h3>
						<p> Established in 1973, Lahiri Kundu $ Co. is engaged in offering an excellent array of industrial products for printing solutions. It manufactures best range of offset, web offset, screen, letter press and metal decorating inks. </p>
						<p class="adam">- Anil Gupta, Proprietor</p>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-3 w3l-footer two">
						<h3>Keep Connected</h3>
						<ul>
							<li><a class="fb" href="#"><i class="fa fa-facebook"></i>Like us on Facebook</a></li>
							<li><a class="fb1" href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a></li>
							<li><a class="fb2" href="#"><i class="fa fa-google-plus"></i>Add us on Google Plus</a></li>
						</ul>
					</div>
					<div class="col-md-3 w3l-footer three">
						<h3>Contact Us</h3>
						<ul>
							<li><i class="fa fa-map-marker"></i><p>Lahiri Kundu & Co. </p>
							 <p> WH-25 MAYAPURI INDUSTRIAL AREA PHASE - 1 NEW DELHI -110064 </p><div class="clearfix"></div> </li>
							<li><i class="fa fa-phone"></i><p>9810186313</p> <div class="clearfix"></div> </li>
							<li><i class="fa fa-envelope-o"></i><a href="mailto:lkcinks@gmail.com">lkcinks@gmail.com</a> <div class="clearfix"></div></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</footer>
		
	<script type="text/javascript" src="../lkmedia/js/jquery-2.1.4.min.js"></script><
	<script src="../lkmedia/js/bootstrap.min.js"></script>
	
	<script src='../lkmedia/js/jquery.js'></script><!-- Required-js -->
	<script src="../lkmedia/js/jquery.cycle.all.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lkmedia/js/jquery.maximage.js" type="text/javascript" charset="utf-8"></script>		
	<script type="text/javascript">
		$(function(){
			$('#maximage').maximage({
				cycleOptions: {
					fx: 'fade',
					speed: 1000, // Has to match the speed for CSS transitions in jQuery.maximage.css (lines 30 - 33)
					timeout: 4000,
					prev: '#arrow_left',
					next: '#arrow_right',
					pause: 1,
					before: function(last,current){
						if(!$.browser.msie){
							// Start HTML5 video when you arrive
							if($(current).find('video').length > 0) $(current).find('video')[0].play();
						}
					},
					after: function(last,current){
						if(!$.browser.msie){
							// Pauses HTML5 video when you leave it
							if($(last).find('video').length > 0) $(last).find('video')[0].pause();
						}
					}
				},
				onFirstImageLoaded: function(){
					jQuery('#cycle-loader').hide();
					jQuery('#maximage').fadeIn('fast');
				}
			});
	
			// Helper function to Fill and Center the HTML5 Video
			jQuery('video,object').maximage('maxcover');
	
			// To show it is dynamic html text
			jQuery('.in-slide-content').delay(1200).fadeIn();
		});
	</script>	
	<!-- //banner slider-js -->
	
	<!-- login popop responsive tabs -->
		<script src="../lkmedia/js/easyResponsiveTabs.js" type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true   // 100% fit in a container
				});
			});
		</script>
	<!-- //login popop responsive tabs -->
		
	<!-- here starts scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/
										
				$().UItoTop({ easingType: 'easeOutQuart' });
									
				});
		</script>
		
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="../lkmedia/js/move-top.js"></script>
		<script type="text/javascript" src="../lkmedia/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>
		<!-- /ends-smoth-scrolling -->
	<!-- //here ends scrolling icon -->
	
	</body>
	<!-- //body -->
</html>
<!-- //html -->
