<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
	<body>
	
		{% include 'nav.html' %}
		
		<!-- inner banner -->
		<div class="w3layouts-inner-banner">
			<a href="/" id="logo"><h1>L.K. Inks</h1></a>
		</div>
		<!-- //inner banner -->
		
		<!-- main-content -->
		<div class="wthree-main-content w3layouts-contact">
			<!-- about -->
		<div class="agileits contact">
			<div class="container">
				<h2 class="agile-inner-title">Products and Services</h2>						
				<div class="agileits w3layouts">
		<div class="col-top agileits w3layouts" id="about">
			<p>The premium quality collection of Priting Inks available at our dispatch is in huge demand among the clients across the domestic market, owing to its remarkable attributes and features.</p>
		</div>
		<!---->
			<div class="tab-head agileits w3layouts">
			 <nav class="col-md-6 nav-sidebar agileits w3layouts">
				<ul class="nav agileits w3layouts tabs">
		          <li class="active agileits w3layouts"><a href="#tab1" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Offset Inks</a></li>
		          <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Web Offset Inks</a></li> 
		          <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Screen Printing Inks</a></li>  
		          <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Letter Press Inks</a></li>
		          <li class=""><a href="#tab5" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Metal Decorating Inks</a></li>
		        </ul>
			</nav>
		<div class="col-md-6 tab-content">
			<div class="tab-pane active text-style" id="tab1">
 				<div class="facts" style="padding-top: 15px;">
 					<!-- <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> -->
 					<!-- <h4>World Tour</h4> -->
					 <p> Industrial and packaging offset inks <br>
					 Inks for Non-woven clothes  <br>
				 	 Soya Based ECO Friendly inks <br>
			 		 Light Fast F.C. inks <br>
		 			 Heat fast Mello inks <br>
		 			 Panton Shades <br>
		 			 Auxiliaries <br>
					 </ul>
										      
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab2">
 				<div class="facts" style="padding-top: 40px;">
 					<!-- <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> -->
					 <p> Cold Set Web Offset Inks<br> Lottery inks <br> Penetrating Inks</p>					      
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab3">
 				<div class="facts">
 					<!-- <span class="glyphicon glyphicon-move" aria-hidden="true"></span> -->
					 <p>Eva Inks <br> PVC Matt inks <br> PVC Gloss inks <br> S/S Gloss inks <br> Gloss process inks <br> Transparent Inks <br> Inks for Welding Rods <br> H.T. Inks <br> Inks for footwear <br> Inks for Hose pipe <br> </p>
										      
				 </div>
			</div>
			<div class="tab-pane text-style" id="tab4">
 				<div class="facts" style="padding-top: 40px;">
 					<!-- <span class="glyphicon glyphicon-glass" aria-hidden="true"></span> -->
					 <p> Inks for plastic surface <br> Inks for Batch printing <br> Magnetic inks <br> Batch Printing Inks</p>
										      
				 </div>
			</div>  
				<div class="tab-pane text-style" id="tab5">
 				<div class="facts" style="padding-top: 50px;">
 					<!-- <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> -->
					 <p> Coatings and inks for metal decorating <br> Inks for cans, metal drums</p>
										      
				 </div>
			</div>
  		</div>
  <div class="clearfix"></div>
 	 </div>
	 </div>		
	 </div>
	</div>

		</div>

		{% include 'footer.html' %}
		
		<script type="text/javascript" src="../lkmedia/js/jquery-2.1.4.min.js"></script>
		<script src="../lkmedia/js/bootstrap.min.js"></script>
		<script src="../lkmedia/js/responsiveslides.min.js"></script>
		<script>
			$(function () {
				$("#slider3").responsiveSlides({
					auto: true,
					pager:true,
					nav:false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {				
				$().UItoTop({ easingType: 'easeOutQuart' });
									
				});
		</script>
		<script type="text/javascript" src="../lkmedia/js/move-top.js"></script>
		<script type="text/javascript" src="../lkmedia/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

	</body>
</html>
