<!DOCTYPE html>
<html lang="en">
<head>   
<title>Lahiri Kundu</title>
<link href="../lkmedia/css/font-awesome.css" rel="stylesheet" type="text/css" media="all" />   
<link href="../lkmedia/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../lkmedia/css/style.css" rel="stylesheet" type="text/css" media="all" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link rel="stylesheet" href="../lkmedia/css/jquery.maximage.css?v=1.2" type="text/css" media="screen" />
<!-- //css for banner slider -->			
<!-- online-fonts-->
<!-- <link href="//fonts.googleapis.com/css?family=Lobster+Two:400,400i,700,700i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
<!--//online-fonts-->		
</head>
	<body>
		<div class="w3layouts-top-strip">
			<div class="container-fluid">	
				<div class="agileinfo-contact-info">
					<ul>
						<li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Call : +91-9810186313</li>
						<li style="float:right;"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Mail : <a href="mailto:lkcinks@gmail.com">lkcinks@gmail.com</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	
		<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			 	<ul class="nav navbar-nav">
					<li><a class="active" href="/">Home</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'products' %}">Products & Services</a></li>
					<li><a href="{% url 'contact' %}">Contact Us</a></li>
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div>
			</nav>
		
		<!-- inner banner -->
		<div class="w3layouts-inner-banner">
			<a href="index.html" id="logo"><h1>Relaxation</h1></a>
		</div>
		<!-- //inner banner -->
		
		<!-- main-content -->
		<div class="wthree-main-content w3layouts-contact">
			<!-- about -->
		<div class="agileits contact">
			<div class="container">
				<h2 class="agile-inner-title">Services</h2>						
				<div class="agileits w3layouts">
		<div class="col-top agileits w3layouts" id="about">
			<p>The premium quality collection of Priting Inks available at our dispatch is in huge demand among the clients across the domestic market, owing to its remarkable attributes and features.</p>
		</div>
		<!---->
			<div class="tab-head agileits w3layouts">
			 <nav class="col-md-6 nav-sidebar agileits w3layouts">
				<ul class="nav agileits w3layouts tabs">
		          <li class="active agileits w3layouts"><a href="#tab1" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Offset Inks</a></li>
		          <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Web Offset Inks</a></li> 
		          <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Screen Printing Inks</a></li>  
		          <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Letter Press Inks</a></li>
		          <li class=""><a href="#tab5" data-toggle="tab"><span class="glyphicon agileits w3layouts glyphicon-move" aria-hidden="true"></span>Metal Decorating Inks</a></li>
		        </ul>
			</nav>
		<div class="col-md-6 tab-content">
			<div class="tab-pane active text-style" id="tab1">
 				<div class="facts">
 					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
 					<h4>World Tour</h4>
					 <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
									  	, or randomised words which don't look even slightly believable.There are many variations .</p>
										      
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab2">
 				<div class="facts">
 					<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
 					<h4>Exotic Locations</h4>
					 <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
									  	, or randomised words which don't look even slightly believable.There are many variations .</p>
										      
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab3">
 				<div class="facts">
 					<span class="glyphicon glyphicon-move" aria-hidden="true"></span>
 					<h4>Easy Travelling</h4>
					 <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
									  	, or randomised words which don't look even slightly believable.There are many variations .</p>
										      
				 </div>
			</div>
			<div class="tab-pane text-style" id="tab4">
 				<div class="facts">
 					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>
 					<h4>Beach Resorts</h4>
					 <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
									  	, or randomised words which don't look even slightly believable.There are many variations .</p>
										      
				 </div>
			</div>  
				<div class="tab-pane text-style" id="tab5">
 				<div class="facts">
 					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
 					<h4>World Tour</h4>
					 <p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
									  	, or randomised words which don't look even slightly believable.There are many variations .</p>
										      
				 </div>
			</div>
  		</div>
  <div class="clearfix"></div>
 	 </div>
	 </div>		
	 </div>
	</div>

		</div>

		<footer>
			<div class="w3ls-footer-grids">
				<div class="container">
					<div class="col-md-3 w3l-footer one">
						<h3>About Company</h3>
						<p> Established in 1973, Lahiri Kundu $ Co. is engaged in offering an excellent array of industrial products for printing solutions. It manufactures best range of offset, web offset, screen, letter press and metal decorating inks. </p>
						<p class="adam">- Anil Gupta, Proprietor</p>
						<div class="clearfix"></div>
					</div>
					<div class="col-md-3 w3l-footer two">
						<h3>Keep Connected</h3>
						<ul>
							<li><a class="fb" href="#"><i class="fa fa-facebook"></i>Like us on Facebook</a></li>
							<li><a class="fb1" href="#"><i class="fa fa-twitter"></i>Follow us on Twitter</a></li>
							<li><a class="fb2" href="#"><i class="fa fa-google-plus"></i>Add us on Google Plus</a></li>
						</ul>
					</div>
					<div class="col-md-3 w3l-footer three">
						<h3>Contact Us</h3>
						<ul>
							<li><i class="fa fa-map-marker"></i><p>Lahiri Kundu & Co. </p>
							 <p> WH-25 MAYAPURI INDUSTRIAL AREA PHASE - 1 NEW DELHI -110064 </p><div class="clearfix"></div> </li>
							<li><i class="fa fa-phone"></i><p>9810186313</p> <div class="clearfix"></div> </li>
							<li><i class="fa fa-envelope-o"></i><a href="mailto:lkcinks@gmail.com">lkcinks@gmail.com</a> <div class="clearfix"></div></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</footer>
		
		<script type="text/javascript" src="../lkmedia/js/jquery-2.1.4.min.js"></script>
		<script src="../lkmedia/js/bootstrap.min.js"></script>
		<script src="../lkmedia/js/responsiveslides.min.js"></script>
		<script>
			$(function () {
				$("#slider3").responsiveSlides({
					auto: true,
					pager:true,
					nav:false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
						$('.events').append("<li>after event fired.</li>");
					}
				});
			});
		</script>
		<script type="text/javascript">
			$(document).ready(function() {				
				$().UItoTop({ easingType: 'easeOutQuart' });
									
				});
		</script>
		<script type="text/javascript" src="../lkmedia/js/move-top.js"></script>
		<script type="text/javascript" src="../lkmedia/js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

	</body>
</html>